
mixin addContactsRow(rowData)
    tr.table-row.contactsTableRow
        td #{rowData.username}
        td #{rowData.name}
        td #{rowData.surname}
        td(style='display:none') #{rowData.email}
        td(style='display:none') #{rowData.note}


mixin addLoansRow(rowData)
    tr.table-row.loanTableRow
        td(style='display:none') #{rowData._id}
        td #{rowData.loaner}
        td #{rowData.recipient}
        td #{rowData.dateIssued}
        td #{rowData.deadline}
        td #{rowData.amount}
        td #{rowData.currency}
        td #{rowData.interest}
        td #{rowData.compoundInterest ? 'Compound' : 'Simple'}
        td #{rowData.status}
